body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 75px;
  background-color: rgb(94, 94, 244);
}

.title {
  color: #fff;
  padding: 25px 10px;
  font-size: 1.5rem;
}
