.enterToDo {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
  outline: none;
}

.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.buttons {
  padding: 8px;
  width: 60px;
  border: 1px solid gold;
  border-radius: 10px;
  background-color: gold;
  margin: 10px 0;
}
