#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*My code*/

* {
  box-sizing: border-box;
}

.btn {
  margin-right: 1rem;
  background-color: aquamarine;
}

.container {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(117, 134, 148, 0.8);
}

.container input {
  margin: 1rem;
  padding: 1rem;
  width: 95%;
}

.container div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container input:last-child {
  margin-top: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

.header {
  text-align: center;
  font-size: 2rem;
}
/* 
body {
  background-image: url(assets/hesap.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
