* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li:first-child {
  border: none;
  border-bottom: 1px solid #603f26;
  width: 100%;
}

ul li {
  width: 100%;
  height: 100%;
}
ul li:hover {
  background-color: #603f26;
  color: #d6bd9d;
}

.header {
  background-image: url("./images/coffeapp.jpg");
  height: 91vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}

.card {
  border: 1px solid #82593a;
  width: 220px;
  height: 250px;
  border-radius: 10px;
}

.icindekiler {
  border: 1px solid #82593a;
  border-radius: 10px;
  padding: 5px;
  background-color: #d6bd9d;
  transition: all 0.4s;
  color: #2f1c09;
}
.icindekiler:hover {
  transform: scale(1.1);
}

.icindekiler-card {
  border: 1px solid #82593a;
  width: 220px;
  height: 250px;
  border-radius: 10px;
}
.details-main-div {
  border: 3px solid #82593a;
  border-radius: 10px;
  width: 1200px;
  height: 480px;
}

.details-card {
  border: 1px solid #82593a;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}
.details-img-div {
  width: 300px;
  height: 300px;
}

.details-div {
  height: 91vh;
  overflow-y: hidden;
}

.aciklama {
  width: 800px;
  height: 75px;
}
